table.job-ladder-table {
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid black;

  th, td {
    border: 1px solid black;
    padding: 10px;
  }

  th {
    background-color: #ddd;
    font-weight: bold;
  }

  p.job-level {
    font-size: 400%;
    font-weight: bold;
    text-align: center;
  }
}

table.job-ladder-table-summary {
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid black;
  font-size: 75%;
  word-break: break-word;
  
  td {
    &:first-child {
      width: 20%;
    }
    width: 15%;
    border: 1px solid black;
    padding: 10px;
  }
}